<div xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

<div>
    <div class="col-md-4"
             py:with="photos=product.details.product_photos">
            <div id="product-photos-carousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li py:for="idx, photo in enumerate(photos)"
                        data-target="#product-photos-carousel" data-slide-to="${idx}"
                        class="${'active' if idx==0 else ''}">
                    </li>
                </ol>

                <div class="carousel-inner">
                    <div py:for="idx, photo in enumerate(photos)" class="item ${'active' if idx==0 else ''}">
                        <div py:with="photo_url=tg.url(photo['url'])"
                             class="stroller2-product-photo"
                             style="background-image: url('${photo_url}')">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-offset-1 col-md-7">
            <div class="row">
                <div class="col-md-8">
                    <ol class="breadcrumb  stroller2-showcase-product-thumbnail-categories" py:for="category in product.categories">
                        <li py:for="ancestor in category.ancestors">${category.i18n_ancestor_name(ancestor)}</li>
                        <li>${category.i18n_name}</li>
                    </ol>
                </div>
                <div class="col-md-4">
                    <div id="stroller2-product-social-buttons">
                        <a  id="product-social-button-facebook" class="stroller2-product-social-button"
                            onclick="Share.facebook('${h.stroller2_product_share_url(product)}')">
                        </a>
                        <a id="product-social-button-gplus" class="stroller2-product-social-button"
                           onclick="Share.gplus('${h.stroller2_product_share_url(product)}')">
                        </a>
                        <a id="product-social-button-twitter" class="stroller2-product-social-button"
                           onclick="Share.twitter('${h.stroller2_product_share_url(product)}', '${product.i18n_name}')">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <h1 id="product-title">
                    ${product.i18n_name.upper()}
                </h1>
                <h3>
                    € ${product.configuration_gross_price(product.configurations[0])}
                </h3>
                <p>${product.i18n_description}</p>
            </div>
            <div py:if="product.available" class="col-md-6">
                ${buy_form.display(value=dict(product=product._id), action=buy_form_action)}
            </div>
            <div py:if="not product.available" class="col-md-6">
                <h4>Sold out</h4>
            </div>
        </div>
    </div>

    <script>
    //<![CDATA[
    Share = {
        facebook: function(purl) {
            url = 'http://www.facebook.com/sharer.php?m2w&s=100';
            url += '&p[url]=' + encodeURIComponent(purl);
            Share.popup(url);
        },
        gplus: function(purl) {
            url = "https://plus.google.com/share";
            url += '?url=' + encodeURIComponent(purl);
            Share.popup(url);
        },
        twitter : function(purl, text) {
            url = "https://twitter.com/intent/tweet";
            url += '?url=' + encodeURIComponent(purl);
            url += '&text=' + encodeURIComponent(text);
            Share.popup(url);
        },
        popup: function(url) {
            window.open(url,'','toolbar=0,status=0,width=626, height=436');
        }
    };
    //]]>
</script>
</div>