<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:py="http://genshi.edgewall.org/"
     py:strip="True">

    <div class="row" data-sku="${item.sku}" id="item-${item.sku}">
        <div class="panel panel-default">
            <div class="panel-body">
                <div py:with="product_photos=item.product_details.product_photos" class="col-md-2 stroller2-cart-item-img">
                    <img src="${product_photos and product_photos[0].url}"/>
                </div>
                <div class="col-md-4">
                    <div class="name-container">
                        <span>${h.i_entity_value(item, 'name')}</span><br/>
                    </div>
                </div>

                <div class="col-md-1">
                    <select class="form-control item-qty-select" data-sku="${item.sku}">
                        <option py:for="i in xrange(0, h.item_remaing_quantity(item)+1 + item.qty)" value="${i}"
                                py:attrs="{'selected': 'selected' if i == item.qty else None}">
                            ${i}
                        </option>
                    </select>
                </div>
                <div class="col-md-2 col-md-offset-2">
                    € ${h.format_price(h.items_total(item))}
                </div>
                <div class="col-md-1">
                    <button class="btn btn-block btn-danger delete-btn" data-sku="${item.sku}"
                            onclick="var deletables = jQuery('.delete-check:checked');
                            var items = window.cart.get('items');
                            items[jQuery(this).data('sku')].qty = 0;
                            window.cart.save({items: items});">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
