
ul {
    list-style-type: none;
    padding:0;
    margin: 0;
}

.stroller2-stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.stroller-admin-table ul li {
    float: left;
    list-style: none outside none;
    margin-right: 20px;
}

.stroller2-showcase-product-name{
    margin-top: 0px;
}

.stroller-showcase-product-thumbnail-image{
    height: 100px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.stroller2-showcase-product-thumbnail-categories{
    padding: 3px 6px 3px 6px !important;
    font-size: 12px;
    margin-bottom: 5px !important;
}
.stroller2-showcase-button{
    width: 70%;
    text-align: left !important;
    padding-left: 6px !important;
}

.stroller2-product-photo {
    width: 100%;
    height: 400px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.stroller2-buy-product-submit-button{
    margin-top: -10px;
}
.stroller2-product-social-button {
    width: 50px;
    height: 50px;
    background-size: cover;
    display: inline-block;
    *display: inline;
    cursor: pointer;
    background: center no-repeat;
    background-size: contain;
}
#product-social-button-facebook{
    background-image: url('../img/icon_facebook.png');
}
#product-social-button-gplus{
    background-image: url('../img/icon_google+.png');
}
#product-social-button-twitter{
    background-image: url('../img/icon_twitter.png');
}

.stroller2-cart-item-img {
    overflow: hidden;
}
.stroller2-cart-item-img img {
    width: 100%;
}


